body.home, body.page-template-landing {

    .concept-header {

        &__main {
            background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);

            // &__logo {
            //     background-image: url('./assets/logo_white.svg');
            //     transition: $transition-time;
                
            //     &:hover {
            //         background-image: url('./assets/logo_red.svg');

            //     }
            // }

            &.scrolled {
                background: rgba(40,40,40,1);;
            }
        }

        &__project-category__container {
            display: none;
        }
    }

    .home, .landing {

        padding-right: 15px;

        &__landing {

            position: absolute;
            left: 0;
            height: 100vh;
            padding: 0;

            &__video {

                background: #323232;
                height: 100vh;
                    // top: 80vh;
                width: 100vw;
                position: relative;
                overflow: hidden;

                .vp-player-layout {
                    
                    min-height: 100% !important;
                    top: 0 !important;
                    min-width: 100% !important;
                    left: 50% !important;
                    transform: translateX(-50%);
                }

                .wp-video {
                    position: absolute;
                    left: 0;

                    .mejs-overlay, .mejs-controls, .ytp-watermark {
                        display: none;
                    }

                }

                .video-stream, .html5-main-video, .vsc-initialized {
                    min-width: 100vw !important;
                    min-height: 100vh !important;
                    left: 0 !important;
                    top: 0 !important;
                    transform: scale(2.5) !important;
                    display: none !important;
                }

                iframe {
                    width: 100vw;
                    // height: 105vh;
                    position: absolute;
                    left: 0;
                    top: 0;
                    // z-index: -1;
                    filter: brightness(0.3);
                    // pointer-events: none;
                    max-height: 100%;
                }

                &__fallback {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                }
            }

            &__text {

                position: absolute;
                height: 100vh;
                width: 100vw;
                // width: calc(100vw - 34px);
                top: 0;


                &__title {
                    z-index: 1;
                    @include center-vertically;
                    left: $spacing-side-large;

                    @media screen and (min-width: $breakpoint-medium-large) {
                        top: 40vh;
                        width: 60%;
                    }

                    
                    @media screen and (min-width: $breakpoint-large) {
                        left: calc((100vw - #{$breakpoint-large}) / 2 + 5vw);
                    }
    
                    h1 {
                        font-size: 3.5rem;
                        font-weight: $bold;
                        color: white;
                        line-height: 1;

                        @media screen and (min-width: $breakpoint-medium-large) {
                            width: 100%;

                        }
                    }
    
                    h2 {
                        
                        font-size: 1rem;
                        color: $red;
                        text-transform: uppercase;
                        margin-bottom: 30px;
                        font-family: 'Gotham-Bold', sans-serif;
                        
                    }

                }
    
                &__project-category__container {

                    position: absolute;
                    top: 80vh;
                    left: $spacing-side-large;
                    width: 60%;

                    @media screen and (min-width: $breakpoint-medium-large) {

                        top: 70vh;
                    }
                        
                    @media screen and (min-width: $breakpoint-large) {
                        left: calc((100vw - #{$breakpoint-large}) / 2 + 5vw);
                    }
    
                    h3 {
                        font-size: 1.2rem;
                        color: white;
                        display: inline;
                        transition: $transition-time;
                    }
    
                    p {
                        font-size: 1rem;
                        color: white;
                        margin-top: 10px;
                    }

                    
                    a:hover {
                        > h3 {
                            box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75);
                        }
                    }
                }

                .home__landing__scroll, .landing__landing__scroll {
                    // display: none;

                    font-size: 1rem;
                    text-transform: uppercase;
                    color: white;
                    bottom: 60px;

                    @include center-horizontally;
                    
                    

                    &__icon {
                        margin: 0 auto;
                        height: 35px;
                        // background: $red;
                        width: 15px;
                        margin-top: 20px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        background-image: url('./assets/arrow_down.svg');
                    }
                }
            }

           

            
        }

        &__about__slider {
            height: 50vh;
            max-height: calc(( #{$breakpoint-large}) / 2 / 1.77777);
            width: 100%;
            overflow: hidden;
            padding: 0;
            background: white;
            height: calc(50vw / 1.777777);
            margin-top: 100vh;

            .rev_slider, .rev_slider_wrapper {
                height: 100% !important;
            }

            &__wrapper {
                position: absolute;
                // transform: translate(-50%, -50%) !important;
                width: 50vw;
                max-width: calc((#{$breakpoint-large}) / 2);
                
                &__text {
                    left: calc(50vw + #{$spacing-side-large}) !important;
                    top: $spacing-side-large !important;

                    p, h2, h3 {
                        max-width: calc(50vw - #{$spacing-side-large} * 2) !important;
                        width: calc(50vw - #{$spacing-side-large} * 2) !important;
                        overflow: hidden;
                        font-size: 1rem !important;
                        line-height: 1.2rem !important;
                        // width: auto !important;
                    }

                    p:last-of-type {
                        margin-bottom: 30px !important;
                    }

                    h2 {
                        font-size: 2rem !important;
                        margin-bottom: 15px !important;
                        line-height: 2rem !important
                    }

                    h3 {
                        font-size: 1rem !important;
                        font-weight: 600;
                        line-height: 1rem !important;
                        margin-bottom: 15px;
                    }

                    .tp-bullets {
                        width: 9px;
                        height: 9px;
                        // border: 1px solid black !important;
                        float: left;
                        margin-right: 10px;
                        border-radius: 50%;
                        position: relative;
                        top: 20px !important;

                        &.active {
                            background: black;
                        }
                    }

                    
                    // p::after {
                    //     content: '';
                    //     font-size: 1rem;
                    //     position: absolute;
                    //     left: 0;
                    //     bottom: -40px;
                    //     width: 10px;
                    //     height: 10px;
                    //     border: 1px solid $anthrazit;
                    //     border-radius: 50%;

                    // }
                }

                
                &__foto {
                    left: 0% !important;
                    top: 0% !important;
                    width: 50vw;
                    height: 100%;
                    overflow: hidden;
                    transform: translate(0%, 0%) !important;

                    img {

                        height: auto !important;                      
                        // height: 50vh !important;
                        // width: 100% !important;
                        width: 50vw !important;
                        
                        // @include center-horizontally;

                        // @media screen and (min-width: 1440px) {
                        //     height: auto !important;
                        //     width: 50vw !important;
                        //     // @include center;

                        // }
                    }
                }
            }

            h3 {
                text-transform: uppercase;
                color: $red !important;
                // display: none;
            }

            h2 {
                font-size: 1.8rem;
            }

            p {
                color: $anthrazit;
            }
        }

        &__ueber-uns {
            //min-height: calc(50vh - 200px);
            // background-color: $red;
            color: white;
            display: flex;
            padding: 40px $spacing-side-large;
            align-items: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('./assets/background_mountain.jpg');
            flex-wrap: wrap;

            &__text {
                flex-basis: 30%;
                min-width: 300px;
                flex-grow: 1;
                // padding: 30px;
                padding-right: $spacing-side-large;

                h4 {
                    color: white;
                    margin-bottom: 10px;
                    font-size: 1.6rem;

                    // @media screen and (min-width: $breakpoint-medium-large) {
                    //     font-size: 1.8rem; 
                    // }

                }

                h5 {
                    color: white;
                    margin-bottom: 10px;
                }

                p, b {
                    font-size: 0.8rem;
                    margin-bottom: 0;
                    // @media screen and (min-width: $breakpoint-medium-large) {
                    //     font-size: 1.2rem !important; 
                    // }
                }

               
            }

            &__info__container {
                
                flex-basis: 70%;
                min-width: calc(#{$breakpoint-medium} * 0.7);
                display: flex;
                flex-wrap: wrap;
                flex-grow: 1;
                box-shadow: 0px 13px 34px -5px rgba(0,0,0,0.3);


                .home__ueber-uns__info__item, .landing__ueber-uns__info__item {
                    
                    background-color: $anthrazit;
                    padding: 1vw 1.5vw;
                    width: calc(100% / 3);
                    position: relative;
                    display: flex;
                    align-items: flex-start;
                    align-content: flex-start;
                    flex-wrap: wrap;
                    // min-width: 220px;
                    // min-width: calc(#{$breakpoint-medium} * 0.3);

                    // width:  calc(100% / 3);
                            // height: auto !important;
                            // height: calc(100%/ 1.77777777);

                    
                        @media screen and (max-width: $breakpoint-medium) {
                            height: auto !important;
                        }

                    h5, a {
                        color: white;
                        font-size: 1rem;
                        font-weight: $bold;
                        margin-bottom: 10px;
                        width: 100%;
                        display: inline;


                        
                        @media screen and (min-width: $breakpoint-medium-large) {
                            font-size: 1.2rem; 
                        }
                    }

                    a:hover {
                        box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75);
                    }

                    p {
                        color: white;
                        font-size: 0.8rem; 
                        font-weight: $regular;
                        margin-bottom: 0;

                        
                        // @media screen and (min-width: $breakpoint-medium-large) {
                        //     font-size: 1rem !important; 
                        // }
                    }

                    &:nth-of-type(even) {
                        background: white;

                        h5, p, a {
                            color: $anthrazit;
                        }
                    }

                }
            }

            .home__ueber-uns__info__item p, .home__ueber-uns__text p, .home__ueber-uns__text b {
                
                @media screen and (min-width: 1650px) {
                    font-size: 1.2rem; 
                }

                @media screen and (man-width: 1650px) {
                    font-size: 1rem; 
                }

                // @media screen and (max-width: 1200px) {
                //     font-size: 0.7rem; 
                // }

            //     @media screen and (max-width: 1400px) {
            //         font-size: 0.6rem !important; 
            //     }

                
            //     @media screen and (max-width: 1100px) {
            //         font-size: 0.5rem !important; 
            //     }

            //     @media screen and (max-width: 938px) {
            //         font-size: 0.7rem !important; 
            //     }
            }

            
            .home__ueber-uns__info__item h5, .home__ueber-uns__info__item h4 {
                
                @media screen and (min-width: 1650px) {
                    font-size: 1.4rem !important; 
                }

                @media screen and (max-width: 1650px) {
                    font-size: 1rem; 
                }

                // @media screen and (max-width: 1600px) {
                //     font-size: 1rem !important; 
                // }

                // @media screen and (max-width: 1400px) {
                //     font-size: 0.8rem !important; 
                // }

                
                // @media screen and (max-width: 1100px) {
                //     font-size: 0.7rem !important; 
                // }

                // @media screen and (max-width: 938px) {
                //     font-size: 0.9rem !important; 
                // }
            }

            
            .home__ueber-uns__info__item {
                
                @media screen and (min-width: 1600px) {
                    font-size: 1rem !important; 
                }

                @media screen and (max-width: 1600px) {
                    font-size: 0.8rem !important; 
                }

                @media screen and (max-width: 1400px) {
                    font-size: 0.6rem !important; 
                }

                
                @media screen and (max-width: 1100px) {
                    font-size: 0.5rem !important; 
                }

                @media screen and (max-width: 938px) {
                    font-size: 0.7rem !important; 
                }
            }

        }

        &__random-projects {
            height: $teaser-height-33;
            max-height: $teaser-max-height-33;
            margin-bottom: $spacing-bottom;
            font-size: 2rem;
            // display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 0;

            .projects__project {
                
                flex-basis: calc(100% / 3);
                flex-grow: 1;
                height: $teaser-height-33;
                max-height: $teaser-max-height-33;
                min-width: 33%;
                max-width: 34%;
                width: calc(100% / 3);

                float: left;

                // &__info__container {
                //     position: relative;

                //     h3, p {
                //         @include center-vertically;
                //     }
                // }

            }
        }

        &__customers {

            text-align: center;
            filter: grayscale(1);
            // padding: 40px calc(#{$spacing-side-large} - 1rem) !important;
            padding: 0 2vw $spacing-bottom 2vw !important;

            h3 {
                // font-size: 1.8rem;
                // margin-bottom: 0;
            }

            p {
                margin-bottom: 40px;
            }

            &__item {

                height: 130px;
                position: relative;
                margin: 0px 0px 10px 0px;
                
                img {

                    width: 80%;
                    @include center;
                }
            }
        }
    }

    
    @media screen and (max-width: $breakpoint-medium) {

        .home, .landing {

            padding-right: 0;
            
            &__landing {
                &__text {

                    &__title {
                        top: 35%;
                        left: $spacing-side;
                        width: calc(100% - #{$spacing-side}*2);
                    }
                    
                    &__project-category__container {
                        top: 55%;
                        left: $spacing-side;
                        width: calc(100% - #{$spacing-side}*2);

                        .home__landing__text__project-category {

                        }
                    }


                    .home__landing__scroll, .landing__landing__scroll {
                        display: inherit;
                    }
                }
            }

            &__ueber-uns {
                padding: 20px $spacing-side;
                padding-bottom: 40px;

                &__text {
                    padding: 0;

                    p {
                        margin-bottom: 20px;
                    }
                }

                &__info__container {
                    padding: 0;
                    min-width: unset;
                }

                // .home__ueber-uns__info__item, .landing__ueber-uns__info__item {
                    
                //     background-color: $anthrazit;
                //     padding: 20px 30px;
                // }
            }

            &__about__slider {

                height: calc(100vw / 1.77777 + 250px);
                max-height: unset;

                &__wrapper {

                    
                    &__text {
                        width: calc( 100vw - #{$spacing-side-large} * 2) !important;
                        left: calc( #{$spacing-side-large}) !important;
                        height: calc(100vw / 1.777777);;
                        position: relative !important;
                        height: 250px;
                    
                        p, h1, h2, h3 {
                            min-width: calc( 100vw - #{$spacing-side-large} * 2) !important;
                        }
                    
                    }
                    
                    &__foto {
                        width: 100vw !important;
                            // height: auto !important;
                        // top: calc(100vw / 1.777777) !important;
                        max-width: calc( #{$breakpoint-large} / 2);
                        position: relative !important;

                        img {
                            width: 100vw !important;
                        }
                    }


                }

            }

            &__random-projects {

                height: $teaser-height-50;
                
                .projects__project {
                    
                    min-width: unset;
                    max-width: unset;
                    max-height: unset;
                    width: 50%;
                    height: $teaser-height-50;

                    &:last-of-type {
                        display: none;
                    }
                }
            }

            &__customers {
                padding: $spacing-side;

                &__item {
                    margin: 0;
                }

                h3 {
                    font-size: 1.6rem;
                    // margin-bottom: 10px;
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-small) {
        .home, .landing {


            &__landing {
                &__text {

                    &__title {
                        top: 45%;
                        left: $spacing-side-small;
                        width: calc(100% - #{$spacing-side-small}*2);
                        
                        h1 {
                            font-size: 2rem;
                        }
                        h2 {
                            font-size: 0.8rem;
                        }
                    }
                    
                    &__project-category__container {

                        top: 75%;
                        left: $spacing-side-small;
                        width: calc(100% - #{$spacing-side-small}*2);

                        .home__landing__text__project-category {
                            h3 {
                                font-size: 1rem;
                            }   
                            p {
                                font-size: 0.8rem;
                            }
                        }
                    }


                    .home__landing__scroll, .landing__landing__scroll {
                        display: none;
                    }
                }
            }

            &__about__slider {

                height: calc(100vw / 1.77777 + 280px);

                &__wrapper {
                    
                    // &__text {
                    //     // width: calc( 100vw - #{$spacing-side-large} * 2) !important;
                    //     // left: calc( #{$spacing-side-large}) !important;
                        
                    //     top: calc(100vw / 1.777777 + 30px;) !important;
                    //     height: 280px;

                    //     p, h3, h3 {
                    //     }

                    //     h2 {
                    //         line-height: 1rem !important;                            
                    //     }

                    // }

                    // &__foto {
                    //     top: 0 !important;
                    //     height: calc(100vw / 1.777777) !important;
                    //     position: absolute !important; 
                        
                    //     img {
                    //         height: auto !important;
                    //         width: 100vw !important;
                    //         min-height: 100% !important;
                    //         min-width: 100vw !important;
                    //     }
                    // }
                }
            }

            &__ueber-uns {

                padding: 20px $spacing-side-small;
                padding-bottom: 40px;
                position: relative;

                &__text {

                }

                &__info__container {

                    width: calc(100vw - 2*#{$spacing-side-small});
                    flex-wrap: wrap;
                    margin: 0 20px;
                    

                    .home__ueber-uns__info__item {
                        flex-basis: unset;
                        width: calc(100vw - 2*40px);
                        padding: 6vw 6vw;
                    }
                }
            }

            &__random-projects {

                flex-wrap: wrap;
                height: auto;
                max-height: unset;
                
                .projects__project {

                    width: 100%;
                    height: $teaser-height;
                    max-height: unset;
                    

                    &:last-of-type {
                        display: inherit
                    }
                }
            }

            &__customers {

                padding: $spacing-side-small !important;

                h3 {
                    margin-bottom: 20px;
                }
                
                p {
                    margin-bottom: 40px;
                }

                &__item {
                    width: 50%;
                    max-width: 50%;
                    height: 80px;
                }
            }
        }
    }

    @media screen and (min-width: $breakpoint-large ) {
        .home, .landing {

            &__about__slider {
                    
                &__wrapper__text {
                    left: calc( #{$breakpoint-large} / 2 + 60px) !important;
                }
            }


            &__landing {
                .home__landing__scroll, .landing__landing__scroll {
                    // left: calc(50% - ((100vw - #{$breakpoint-large}) / 2 ));
                    left: 50%;
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-medium-large) {
                        
        .home, .landing {
            &__about__slider {
                &__wrapper {
                    &__text {
                        top: 2vw;
            
                        h3 {
                            margin-bottom: 12px;
                        }
            
                        h2 {
                            font-size: 1.4rem !important;
                            line-height: 1.4rem !important;
                        }
                        
                        p {
                            margin-bottom: 12px;
                        }
                    }
                }
            }
        }
        
    }

}


//
// Landing Specific
//

body.page-template-landing {

    .landing {

        &__landing {
            &__text {
                top: 0;
            }
        }

        &__info {

            &__main {

                padding: 0;
                margin-bottom: $spacing-bottom;

                p {
                    margin-left: 40px;
                }

                &__carousel {
                    margin-bottom: $spacing-bottom;
                }

                .rev_slider_wrapper {
                    margin-bottom: $spacing-bottom !important;
                }
            }

            &__information {

                color: $anthrazit;
                font-size: 1.2rem;
                padding-top: $spacing-bottom;
                padding-left: $spacing-bottom;

                h1 {
                    font-size: 2rem;
                }

                h2 {
                    font-size: 1.5rem;
                    margin-bottom: 0px;
                }

                p, b, span, em, strong {
                    font-size: 1rem;
                    color: $anthrazit;
                }
                
            }
        }

    }
}