body.home, body.page-template-landing {

    .concept-header {

        &__main {
            background-color: rgba(40,40,40,0.9);;
            background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);

            &__logo {
                background-image: url('./assets/logo_white.svg');
                transition: $transition-time;
                
                &:hover {
                    background-image: url('./assets/logo_red.svg');

                }
            }
        }

        &__project-category__container {
            display: none;
        }
    }

    .home, .landing {
        &__landing {

            // position: relative;
            height: 100vh;
            padding: 0;

            &__video {

                background: $anthrazit;
                height: 100vh;
                width: 100vw;

                .wp-video {
                    position: absolute;
                    left: 0;

                    .mejs-overlay, .mejs-controls, .ytp-watermark {
                        display: none;
                    }

                }

                video.video-stream {
                    min-width: 100vw !important;
                    min-height: 100vh !important;
                    left: 0 !important;
                    top: 0 !important;
                    transform: scale(2.5) !important;
                }

                iframe {
                    width: 100vw;
                    height: 100vh;
                    position: absolute;
                    left: 0;
                    top: 0;
                    // z-index: -1;
                    filter: brightness(0.3);
                    // pointer-events: none;
                }
            }

            &__text {

                position: absolute;
                height: 100vh;
                width: 100vw;
                top: 0;


                &__title {
                    z-index: 1;
                    @include center-vertically;
                    left: $spacing-side-large;
    
                    h1 {
                        font-size: 3.5rem;
                        font-weight: $bold;
                        color: white;
                    }
    
                    h2 {
                        
                        font-size: 1rem;
                        color: $red;
                        text-transform: uppercase;
                    }

                }
    
                &__project-category__container {

                    position: absolute;
                    top: 80vh;
                    left: $spacing-side-large;
                    width: 60%;
    
                    h3 {
                        font-size: 1.2rem;
                        color: white;
                        margin-bottom: 5px;
                        display: inline;
                        transition: $transition-time;
                    }
    
                    p {
                        font-size: 1rem;
                        color: white;
                    }

                    
                    a:hover {
                        > h3 {
                            box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75);
                        }
                    }
                }

                .home__landing__scroll, .landing__landing__scroll {
                    display: none;

                    font-size: 1rem;
                    text-transform: uppercase;
                    color: white;

                    @include center-horizontally;
                    
                    

                    &__icon {
                        margin: 0 auto;
                        height: 70px;
                        background: $red;
                        width: 20px;
                        margin-top: 20px;
                    }
                }
            }

           

            
        }

        &__about__slider {
            height: 50vh;
            width: 100%;
            overflow: hidden;
            padding: 0;
        }

        &__ueber-uns {
            min-height: calc(50vh - 200px);
            background-color: $red;
            color: white;
            display: flex;
            flex-wrap: wrap;
            padding: 20px 60px;

            &__text {
                flex-basis: 30%;
                min-width: calc(#{$breakpoint-medium} * 0.3);
                flex-grow: 1;
                padding: 30px;

                h4 {
                    color: white;
                    margin-bottom: 5px;
                    font-size: 1.6rem;

                }

                p, b {
                    font-size: 0.8rem;
                }

               
            }

            &__info__container {
                
                flex-basis: 70%;
                min-width: calc(#{$breakpoint-medium} * 0.7);
                display: flex;
                flex-wrap: wrap;
                padding: 0 20px;
                flex-grow: 1;


                .home__ueber-uns__info__item, .landing__ueber-uns__info__item {
                    
                    background-color: $anthrazit;
                    padding: 20px;
                    flex-basis: 33.3%;
                    position: relative;
                    // min-width: calc(#{$breakpoint-medium} * 0.3);

                    h5 {
                        color: white;
                        font-size: 1rem;
                        font-weight: $bold;
                        margin-bottom: 5px;
                    }

                    p {
                        color: white;
                        font-size: 0.8rem;
                        font-weight: $regular;
                    }

                    &:nth-of-type(even) {
                        background: white;

                        h5, p {
                            color: $anthrazit;
                        }
                    }

                }
            }
        }

        &__random-projects {
            background: gray;
            height: $teaser-height;
            margin-bottom: $spacing-bottom;
            font-size: 2rem;
            // display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 0;

            .projects__project {
                
                flex-basis: 33.3%;
                flex-grow: 1;
                height: $teaser-height;
                min-width: 33%;
                max-width: 34%;
                width: 33.3%;

                float: left;

                // &__info__container {
                //     position: relative;

                //     h3, p {
                //         @include center-vertically;
                //     }
                // }

            }
        }

        &__customers {

            text-align: center;
            filter: grayscale(1);

            &__item {

                height: 130px;
                position: relative;
                
                img {

                    width: 60%;
                    @include center;
                }
            }
        }
    }

    
    @media screen and (max-width: $breakpoint-medium) {

        .home, .landing {

            &__landing {
                &__text {

                    &__title {
                        top: 35%;
                        left: $spacing-side;
                        width: calc(100% - #{$spacing-side}*2);
                    }
                    
                    &__project-category__container {
                        top: 55%;
                        left: $spacing-side;
                        width: calc(100% - #{$spacing-side}*2);

                        .home__landing__text__project-category {

                        }
                    }


                    .home__landing__scroll, .landing__landing__scroll {
                        display: inherit;
                        bottom: 100px;
                    }
                }
            }

            &__ueber-uns {
                padding: 20px $spacing-side;
                padding-bottom: 40px;

                &__text {
                    padding: 0;

                    p {
                        margin-bottom: 20px;
                    }
                }

                &__info__container {
                    padding: 0;
                }
            }

            &__random-projects {
                
                .projects__project {
                    
                    min-width: unset;
                    max-width: unset;
                    width: 50%;
                    height: $teaser-height--medium;

                    &:last-of-type {
                        display: none;
                    }
                }
            }

            &__customers {
                padding: $spacing-side;

                h3 {
                    font-size: 1.6rem;
                    margin-bottom: 10px;
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-small) {
        .home, .landing {

            &__landing {
                &__text {

                    &__title {
                        top: 45%;
                        left: $spacing-side-small;
                        width: calc(100% - #{$spacing-side-small}*2);
                        
                        h1 {
                            font-size: 2rem;
                        }
                        h2 {
                            font-size: 0.8rem;
                        }
                    }
                    
                    &__project-category__container {

                        top: 85%;
                        left: $spacing-side-small;
                        width: calc(100% - #{$spacing-side-small}*2);

                        .home__landing__text__project-category {
                            h3 {
                                font-size: 1rem;
                            }   
                            p {
                                font-size: 0.8rem;
                            }
                        }
                    }


                    .home__landing__scroll, .landing__landing__scroll {
                        display: none;
                    }
                }
            }

            &__ueber-uns {

                padding: 20px $spacing-side-small;
                padding-bottom: 40px;

                &__text {

                    p {
                    }
                }

                &__info__container {

                    width: 100%;
                    flex-wrap: wrap;

                    .home__ueber-uns__info__item {
                        width: 100%;
                        flex-basis: unset;
                    }
                }
            }

            &__random-projects {

                flex-wrap: wrap;
                height: auto;
                
                .projects__project {

                    width: 100%;
                    

                    &:last-of-type {
                        display: inherit
                    }
                }
            }

            &__customers {

                padding: $spacing-side-small !important;

                &__item {
                    width: 50%;
                    max-width: 50%;
                    height: 80px;
                }
            }
        }
    }

}


//
// Landing Specific
//

body.page-template-landing {

    .landing {

        &__landing {
            &__text {
                top: 0;
            }
        }

        &__info {

            &__main {

                padding: 0;
                margin-bottom: $spacing-bottom;

                p {
                    margin-left: 40px;
                }

                &__carousel {
                    margin-bottom: $spacing-bottom;
                }

                .rev_slider_wrapper {
                    margin-bottom: $spacing-bottom !important;
                }
            }

            &__information {

                color: $anthrazit;
                font-size: 1.2rem;
                padding-top: $spacing-bottom;
                padding-left: $spacing-bottom;

                h1 {
                    font-size: 2rem;
                }

                h2 {
                    font-size: 1.5rem;
                    margin-bottom: 0px;
                }

                p, b, span, em, strong {
                    font-size: 1rem;
                    color: $anthrazit;
                }
                
            }
        }

    }
}