@font-face {
    font-family: 'Gotham-Black';
    src: url('assets/Gotham-Black.otf');
    font-weight: 'black';
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('assets/GothamBold.ttf');
    font-weight: 'bold';
}


* {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

html {
    overflow-x: hidden;
    width: 100vw;
    scroll-behavior: smooth;
}

body {
    background: white;
    width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gotham-Black', sans-serif;
}


p {
    font-size: 1.4rem;
}

a {
    color: $red;

    &:hover {
        color: red;
    }
}

// p, a, span, b, i, strong, pre {

//     letter-spacing: -0.3px;
    
//     @media screen and (max-width: $breakpoint-small) {
//         font-size: 1rem;
//     }
//     @media screen and (max-width: $breakpoint-medium) {
//         font-size: 1.4rem;
//     }
//     @media screen and (max-width: $breakpoint-medium-large) {
//         font-size: 1.4rem;
//     }
//     @media screen and (min-width: $breakpoint-medium-large) {
//         font-size: 1.5vw;
//     }
// }

p, a, span, b, i, strong, pre, .landing__content li {

    letter-spacing: -0.3px;

    font-size: 0.8vw;
    
    @media screen and (max-width: $breakpoint-extra-large) {
        font-size: 1.4rem;
    }
    
    @media screen and (max-width: $breakpoint-extra-large) {
        font-size: 1.4rem;
    }
    @media screen and (max-width: $breakpoint-large) {
        font-size: 1.3rem;
    }
    @media screen and (max-width: $breakpoint-medium-large-plus) {
        font-size: 1.2rem;
    }
    @media screen and (max-width: $breakpoint-medium-large) {
        font-size: 1.1rem;
    }
    @media screen and (max-width: $breakpoint-medium) {
        font-size: 1rem;
    }
    @media screen and (max-width: $breakpoint-small-plus) {
        font-size: 0.9rem;
    }
    @media screen and (max-width: $breakpoint-small) {
        font-size: 0.8rem;
    }

}


h1  {

    // @media screen and (min-width: $breakpoint-medium-large) {
    //     font-size: 5rem;
    // }
    // @media screen and (max-width: 1440px) {
    //     font-size: 3.5rem;
    // }
    // @media screen and (max-width: $breakpoint-medium) {
    //     font-size: 2.4rem;
    // }
    // @media screen and (max-width: $breakpoint-small) {
    //     font-size: 1.8rem;
    // }

       
    @media screen and (min-width: $breakpoint-extra-large) {
        font-size: 6.3rem;
    }
    @media screen and (max-width: $breakpoint-extra-large) {
        font-size: 5rem;
    }
    @media screen and (max-width: $breakpoint-large) {
        font-size: 4.2rem;
    }
    @media screen and (max-width: $breakpoint-medium-large-plus) {
        font-size: 3.6rem;
    }
    @media screen and (max-width: $breakpoint-medium-large) {
        font-size: 3rem;
    }
    @media screen and (max-width: $breakpoint-medium) {
        font-size: 2.4rem;
    }
    @media screen and (max-width: $breakpoint-small-plus) {
        font-size: 2rem;
    }
    @media screen and (max-width: $breakpoint-small) {
        font-size: 1.8rem;
    }
}


h2  {
    
    // @media screen and (max-width: $breakpoint-small) {
    //     font-size: 1.6rem;
    // }
    // @media screen and (max-width: $breakpoint-medium) {
    //     font-size: 1.8rem;
    // }
    // @media screen and (max-width: $breakpoint-medium-large) {
    //     font-size: 2.4rem;
    // }
    // @media screen and (min-width: $breakpoint-medium-large) {
    //     font-size: 3rem;
    // }
       
    @media screen and (min-width: $breakpoint-extra-large) {
        font-size: 4rem;
    }
    @media screen and (max-width: $breakpoint-extra-large) {
        font-size: 3rem;
    }
    @media screen and (max-width: $breakpoint-large) {
        font-size: 2.8rem;
    }
    @media screen and (max-width: $breakpoint-medium-large-plus) {
        font-size: 2.4rem;
    }
    @media screen and (max-width: $breakpoint-medium-large) {
        font-size: 2rem;
    }
    @media screen and (max-width: $breakpoint-medium) {
        font-size: 1.8rem;
    }
    @media screen and (max-width: $breakpoint-small-plus) {
        font-size: 1.7rem;
    }
    @media screen and (max-width: $breakpoint-small) {
        font-size: 1.6rem;
    }
}

h3  {
    
    // @media screen and (max-width: $breakpoint-small) {
    //     font-size: 1.2rem;
    // }
    // @media screen and (max-width: $breakpoint-medium) {
    //     font-size: 1.6rem;
    // }
    // @media screen and (max-width: $breakpoint-medium-large) {
    //     font-size: 1.8rem;
    // }

    // @media screen and (min-width: $breakpoint-medium-large) {
    //     font-size: 2.4rem;
    // }
    
    @media screen and (min-width: $breakpoint-extra-large) {
        font-size: 3.2rem;
    }
    @media screen and (max-width: $breakpoint-extra-large) {
        font-size: 2.4rem;
    }
    @media screen and (max-width: $breakpoint-large) {
        font-size: 2rem;
    }
    @media screen and (max-width: $breakpoint-medium-large-plus) {
        font-size: 1.8rem;
    }
    @media screen and (max-width: $breakpoint-medium-large) {
        font-size: 1.6rem;
    }
    @media screen and (max-width: $breakpoint-medium) {
        font-size: 1.4rem;
    }
    @media screen and (max-width: $breakpoint-small-plus) {
        font-size: 1.3rem;
    }
    @media screen and (max-width: $breakpoint-small) {
        font-size: 1.2rem;
    }
}

h4  {
    
    // @media screen and (max-width: $breakpoint-small) {
    //     font-size: 1rem;
    // }
    // @media screen and (max-width: $breakpoint-medium) {
    //     font-size: 1.2rem;
    // }
    // @media screen and (max-width: $breakpoint-medium-large) {
    //     font-size: 1.4rem;
    // }
    // @media screen and (min-width: $breakpoint-medium-large) {
    //     font-size: 1.8rem;
    // }

       
    @media screen and (min-width: $breakpoint-extra-large) {
        font-size: 2.4rem;
    }
    @media screen and (max-width: $breakpoint-extra-large) {
        font-size: 1.8rem;
    }
    @media screen and (max-width: $breakpoint-large) {
        font-size: 1.6rem;
    }
    @media screen and (max-width: $breakpoint-medium-large-plus) {
        font-size: 1.4rem;
    }
    @media screen and (max-width: $breakpoint-medium-large) {
        font-size: 1.3rem;
    }
    @media screen and (max-width: $breakpoint-medium) {
        font-size: 1.2rem;
    }
    @media screen and (max-width: $breakpoint-small-plus) {
        font-size: 1.1rem;
    }
    @media screen and (max-width: $breakpoint-small) {
        font-size: 1rem;
    }
}

h6, h5  {
    
    // @media screen and (max-width: $breakpoint-small) {
    //     font-size: 1rem;
    // }
    // @media screen and (max-width: $breakpoint-medium) {
    //     font-size: 1rem;
    // }
    // @media screen and (max-width: $breakpoint-medium-large) {
    //     font-size: 1.2rem;
    // }
    // @media screen and (min-width: $breakpoint-medium-large) {
    //     font-size: 1.4rem;

           
    @media screen and (min-width: $breakpoint-extra-large) {
        font-size: 1.8rem;
    }
    @media screen and (max-width: $breakpoint-extra-large) {
        font-size: 1.4rem;
    }
    @media screen and (max-width: $breakpoint-large) {
        font-size: 1.3rem;
    }
    @media screen and (max-width: $breakpoint-medium-large-plus) {
        font-size: 1.2rem;
    }
    @media screen and (max-width: $breakpoint-medium-large) {
        font-size: 1.1rem;
    }
    @media screen and (max-width: $breakpoint-medium) {
        font-size: 1rem;
    }
}


.underline-link:hover:after, .products .product .product_after_title .button:hover:after, .wpb_text_column a:hover:after {
    display: none;
}

img {
    max-width: unset;
}

.row {
    //max-width: $breakpoint-large;
    max-width: unset;

    transition: opacity $transition-time;
}

div[role=main] {
    margin: 0 auto !important;
    width: 100%;
    max-width: $breakpoint-large;

    // @media screen (min-width: $breakpoint-large) {
    //     margin: 0 auto !important;
    //     max-width: $breakpoint-large;
    // }
}

// ::-webkit-scrollbar { 
//     display: none; 
// }

.btn {
    border: none;
    background: $red !important;
    border-radius: 0px;
    color: $white;

    @include hover;

}

.wpb_row a {
    color: $anthrazit;
}

.project__thumbnail, .team-member {

    overflow: hidden;
    position: relative;
    height: $teaser-height-33;
    max-height: $teaser-max-height-33;
    background-color: white;

    img {
        width: 100%;
        transition: $transition-time;   
        min-height: 101%;
        min-width: 101%;

        @include center;
    }

    
    h3, h4 {
        display: inline;        
    }

    &:hover, &.hovered {

        img {
            transform: translate(-50%, -50%) scale(1.05);
        }

        .project-hover-info {
            opacity: 1;
        }
    }

    &.project__insight, &.team-member__insight {

        div {
            @include center-vertically;
            width: 69%;
            left: $spacing-side-large;
            right: $spacing-side-large;

            h3 {
                transition: $transition-time;
                display: inline;
                font-size: 1.7vw;

                @media screen and (max-width: $breakpoint-medium) {
                    font-size: 1.4rem;
            
                }
            }

            // @media screen and (min-width: $breakpoint-large) {
            //    left: 3vw;
            // }
        }

        &:hover &.hovered {

            h3 {
                box-shadow: inset 0px -12px 0px 0px rgba(227,27,35,75);
            }
        } 

    }

    &.project__insight {
        transition: $transition-time;

        &:hover, &.hovered {
            background: $anthrazit;

            h3 {
                color: $white;
                box-shadow: inset 0px -12px 0px 0px rgba(227,27,35,75);
            }
        }
    }

    @media screen and (max-width: $breakpoint-medium) {
        min-height: unset;
    }

    
    @media screen and (min-width: $breakpoint-medium) {
            
        &.projects__project__highlight .project-hover-info__aligner {
            p {
                max-width: 70%;
            }
        }
    }
}

.project-hover-info, .team-member-hover-info {

    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
    transition: $transition-time;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 50px $spacing-side-large;

    
    
    // @media screen and (max-width: $breakpoint-medium-large) {
    //     padding: 50px $spacing-side-large;
    // }

    // @media screen and (max-width: $breakpoint-extra-large) {
    //     padding: $spacing-side-large;
    // }

    // @media screen and (min-width: $breakpoint-extra-large) {
    //     padding: 3vw;
    //  }

    h3 {
        font-size: 1.7vw;
        margin-bottom: 5px;
        box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75);
        display: inline;

        @media screen and (max-width: $breakpoint-medium) {
            font-size: 1.4rem;
    
        }
    }

    p {
        // font-size: 1rem !important;
        width: 100%;
        margin-bottom: 0;
        margin-top: 10px;
        
        @media screen and (max-width: $breakpoint-extra-large) {
            font-size: 1.4rem;
        }
        
        @media screen and (max-width: $breakpoint-extra-large) {
            font-size: 1.3rem;
        }
        @media screen and (max-width: $breakpoint-large) {
            font-size: 1.2rem;
        }
        @media screen and (max-width: $breakpoint-medium-large-plus) {
            font-size: 1rem;
        }
        @media screen and (max-width: $breakpoint-medium-large) {
            font-size: 1rem;
        }
        @media screen and (max-width: $breakpoint-medium) {
            font-size: 1rem;
        }
        @media screen and (max-width: 560px) {
            font-size: 0.6rem;
        }
        @media screen and (max-width: $breakpoint-small) {
            font-size: 0.8rem;
        }
    }

    &:hover {
        opacity: 1;

    }

    * {
        color: white;
    }

    @media screen and (max-width: $breakpoint-medium) {
        h3 {
            font-size: 1rem;
        }
    }
}

.ytp-title, .ytp-button, .ytp-watermark, .yt-uix-sessionlink {
    opacity: 0 !important;
    display: none !important;
    visibility: hidden;
}

.rev_slider_wrapper {

    .rs-fullvideo-cover {
        pointer-events: none;
    }

    iframe {
        height: 101% !important;
        top: -2px !important;
    }

}

.tp-bullets {
    opacity: 0;
    // transition: $transition-time;
    left: calc(50vw + 5vw + 21px) !important;
    top: 95% !important;

    @media screen and (min-width: $breakpoint-large) {
        left: calc(50% + 130px + 21px) !important;  
    }

    @media screen and (max-width: $breakpoint-medium) {
        left: 50% !important;  
        top: 250px !important;
        bottom: unset !important;
    }

    @media screen and (max-width: 1000px) and (min-width: $breakpoint-medium) {
        // top: unset !important;
        // bottom: 0 !important;
        display: none;
    }

    .tp-bullet-image, .tp-bullet-imageoverlay, .tp-bullet-title {
        display: none !important;
    }

    
    .tp-bullet {
        border: 1px solid black !important;
    }
}

.quote__container, .press__container {

    display: flex;
    padding: 0;
    // min-height: calc(50vh - 200px);
    flex-wrap: wrap;

    h3, h4, h5 {
        display: inline;        
    }

    a {
        height: $teaser-height-33;
        max-height: $teaser-max-height-33;

        @media screen and (max-width: $breakpoint-medium) {
            height: $teaser-height-50;
            
        }

        @media screen and (max-width: $breakpoint-small) {
            height: $teaser-height;
            
        }
        
    }

    .quote, .press {

        padding: 50px $spacing-side-large;
        flex-basis: calc(100% / 3);
        height: $teaser-height-33;
        max-height: $teaser-max-height-33;
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        transition: $transition-time;
        position: relative;

        background: white;
        background: $gray;
        color: $anthrazit;

        h5 {
            color: $anthrazit;
            // font-size: 1.4rem;
            transition: $transition-time;
        }

        .about__press__article {
            font-weight: 600;
            display: inline;
        }

        p {
            margin-bottom: 0;
            flex-basis: 100%;

            &:first-of-type {
                margin-top: 10px;
            }

            @media screen and (max-width: $breakpoint-extra-large) {
                font-size: 1.4rem;
            }
            
            @media screen and (max-width: $breakpoint-extra-large) {
                font-size: 1.3rem;
            }
            @media screen and (max-width: $breakpoint-large) {
                font-size: 1.2rem;
            }
            @media screen and (max-width: $breakpoint-medium-large-plus) {
                font-size: 1rem;
            }
            @media screen and (max-width: $breakpoint-medium-large) {
                font-size: 1rem;
            }
            @media screen and (max-width: $breakpoint-medium) {
                font-size: 1rem;
            }
            @media screen and (max-width: $breakpoint-small) {
                font-size: 0.8rem;
            }

            &.about__press__article { 
                
                line-height: 1.3;
                margin-bottom: 10px;
                
                @media screen and (min-width: $breakpoint-extra-large) {
                    font-size: 1.8rem;
                }
                @media screen and (max-width: $breakpoint-extra-large) {
                    font-size: 1.4rem;
                }
                @media screen and (max-width: $breakpoint-large) {
                    font-size: 1.3rem;
                }
                @media screen and (max-width: $breakpoint-medium-large-plus) {
                    font-size: 1.2rem;
                }
                @media screen and (max-width: $breakpoint-medium-large) {
                    font-size: 1.1rem;
                }
                @media screen and (max-width: $breakpoint-medium) {
                    font-size: 1rem;
                }
            }
        }


        &__logo__container { 
            width: 100%;
            margin-bottom: 15px;
            height: 4vw;
            max-height: 100px;
            position: relative;

            // @include center-horizontally;
            // position: relative;
            // margin-left: auto;
            // margin-right: auto;
            // top: 20px;

            .press__logo {
                width: 100%;
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;

                &--hover {
                    opacity: 0;
                    transition: $transition-time;
                }
            }

            

            // img {
            //     @include center;
            //     height: 100%;

            // }
        }

        a:hover {
            // box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75);


            h4 {
                box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75);
            }

        }

        &:hover {
                
            background: $anthrazit;

            h5 {
                box-shadow: inset 0px -4px 0px 0px rgba(227,27,35,75);
            }
            
            h5, p {
                color: white;
            }

            
            .press__logo--hover {
                opacity: 1;
            }

            .press__logo--regular {
                opacity: 0;
            }
        }

        // &:nth-of-type(even) {

        //     background: white;
        //     color: $anthrazit;

        //     h4 {
        //         color: $anthrazit;
        //     }


        // }

        // &.quote:nth-of-type(odd) {
            
        //     &:hover {

        //         background: white;

                
        //         h4, p {
        //             color: black;;
        //         }
        //     }
        // }

        // &.quote:nth-of-type(even) {
            
            
        //     &:hover {
                
        //         background: $anthrazit;

                
        //         h4, p {
        //             color: white;
        //         }
        //     }
        // }

        // &.press:nth-of-type(even) {

        //     background: black;
        //     color: white;

        //     h4 {
        //         color: white;
        //     }


        // }

        @media screen and (max-width: $breakpoint-medium){
            width: 50%;
            height: $teaser-height-50;
            flex-basis: unset;
            //height: $teaser-height--medium;

            a {
                height: $teaser-height-50;
            }

            
            width: 100%;
            height: $teaser-height;

            a {
                height: $teaser-height;
            }
        }


        @media screen and (min-width: 1440px){

            // h4 {
            //     font-size: 1.75vw;
            // }

            // p {
            //     font-size: 1.5vw;
            // }
        }
    }

    .quote {
        background: $gray;
    }
}

.burger-menu {
    width: 40px; 
    height: 40px;
    background: $red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -6px;
    pointer-events: none;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./assets/burger.svg');
    // transition: background-size $transition-time;

    &.open {
        background-size: 40%;
        background-image: url('./assets/cross.svg');

    }

}

.spacer {
    cursor: pointer;
}

.header > .row {
    position: unset;
}

.concept-header {

    width: 100%;
    // width: calc(100vw - 34px);
    padding: 0;
    display: block;
    position: fixed;
    z-index: 100;

    &__main {   

        min-height: $menu-height;
        min-height: 80px;
        height: 3vw;
    	width: 100%;
        background: $anthrazit;
        position: relative;
        opacity: 1 !important;
        z-index: 1000;
        transition: $transition-time;
        border: none !important;

        &__logo {

            width: 170px;
            min-width: 120px;
            height: 40px;
            min-height: 40px;
            cursor: pointer;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('./assets/logo_white-red.svg');

            @include center-vertically;

            left: $spacing-side-large;

            // @media screen and (max-width: $breakpoint-large){
            //     li {
            //         margin-bottom: 0;
            //         margin-top: 0;
            //     }
            // }

        }

        

        
    }


    &__project-category__container {
        
        width: 100%;
        background: $white;
        position: relative;
        min-height: 55px;
        transition: min-height $transition-time;
        overflow: hidden;
        // position: absolute;
        // top: 3vw;
        

        ul {

            list-style: none;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;
            width: calc(100vw - 40px);
            max-width: calc(#{$breakpoint-large} - 40px - 5.4vw - 5.4vw);
            padding-left: $spacing-side-large;

            li {
                text-transform: uppercase;
                margin: $submenu-margin 0;
                font-size: $submenu-font-size;
                
                a {
                    font-size: $submenu-font-size;
                    color: $anthrazit;
                    transition: $transition-time;


                    
                }

                
                &.menu-active a {
                    font-weight: 600;
                    text-decoration: underline;
                }

                &:hover {
                    a {
                        text-decoration: underline;
                        // box-shadow: inset 0px -1px 0px 0px black;
                    }
                }

                
                
                
            }

            
        }

        .concept-header__project-category__list--search {

            justify-content: left;
            align-items: center;

            .tag {
                cursor: default;
                padding: 7px 10px;
                margin: 10px 0;
                margin-left: 5px;
                font-size: 1rem;
            }
        }

        .concept-header__all-tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            top: 0;
            display: none;
            transition: opacity .5s;
            max-width: 66%;


            a {
                margin-left: 5px;
            }

            .tag {
                padding: 7px 10px;
                margin: 10px 0;
                font-size: 1rem;
                transition: $transition-time;

                &:hover {
                    background: $red;
                    color: white;
                }
            }

            @media screen and (max-width: $breakpoint-small){
                li {
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }
        }

        .concept-header__project-category__back, .concept-header__all-tags__back {
            
            height: 20px;
            width: 20px;
            margin: 20px 20px 20px 0px;

            order: 0;

            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('./assets/icon-back.svg');

            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }
        }

        @media screen and (min-width: $breakpoint-large){
            padding: 0 calc((100vw - #{$breakpoint-large}) / 2 - 10px + 5.4vw);

            ul {
                padding: 0;
            }
        }
    
        &__expand {
            display: none;
        }
    }

    .concept-header__project-category__search-form {
                    
        border-bottom: 2px solid #888;
        margin-top: 6px;
        height: 33px;
        position: absolute;
        right: calc(#{$spacing-side-large} + 6px);
        top: 0px;

        border-bottom: none;
        transition: $transition-time;

        input[type=search] {
            max-width: 0px;
            transition: $transition-time;
        }
        


        input {
            border-radius: 0;
            border: none;
            font-weight: $bold;
            text-transform: uppercase;
            background: none;
            // padding: 5px 0;
            margin-bottom: 0;
            padding: 0;
        }

        .concept-header__project-category__search__ghost {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 5px;
            right: -5px;
            cursor: pointer;
            opacity: 0.1;
        }

        .concept-header__project-category__search__icon {
            width: 15px;
            height: 15px;
            display: inline-block;
            margin-top: -13px;
            margin-left: 0px;
            vertical-align: -webkit-baseline-middle;

            
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('./assets/icon-search.svg');
            color: rgba(1,1,1,0);
        }
    }

    .concept-header__project-category__search-form {
            
       

        &.open {

            border-bottom: 2px solid #888;

            input[type=search] {
                max-width: calc(100vw / 3 - 5vw + 6px);
                width: calc(100vw / 3 - 5vw - 22px);
            }
        }
    }

    @media screen and (max-width: $breakpoint-medium) {

        .concept-header__project-category__container {

            ul {
                padding-left: $spacing-side-large;
                width: calc(100vw - 80px);

                &.concept-header__all-tags {
                    width: calc(100vw - 220px);
                }
            }
            

        }

        .concept-header__project-category__search-form {
            
            border-bottom: none;
            transition: $transition-time;

            input[type=search] {
                max-width: 0px;
                transition: $transition-time;
            }

            &.open {

                border-bottom: 2px solid #888;

                input[type=search] {
                    max-width: 150px;
                }
            }
        }

    }

    @media screen and (max-width: $breakpoint-small) {

        .concept-header {
            

            &__main {

                height: 70px;

                &__logo {
                    // width: 150px;
                    left: $spacing-side-small;
                }

                &__social-media__container > a {
                    display: none;
                }
            }


            &__project-category__container {

                overflow: hidden;
                height: 55px;
                
                ul {
                    padding-left: $spacing-side-small;
                    width: calc(100vw - 130px);
                    flex-wrap: wrap;

                    li {
                        // margin-right: 7px;
                        // margin-top: 13px;
                        // font-size: .60rem;
                        
                        order: 1;
                        display: block;
                        width: 100%;
                        margin: 5px 0;

                        hr {
                            width: 90vw;
                            margin-bottom: 0;
                        }

                        &.menu-active {
                            order: 0;
                            margin: 15px 0;
                        }

                        
                        &.tag {
                            margin: 0;
                            margin-top: 10px;

                        }

                        &.concept-header__all-tags__back {
                            margin-left: 20px;
                            margin-top: 10px;
                        }

                        
                        
                        a, li {
                            // font-size: .60rem;
                        }

                    }
                }

                .concept-header__project-category__search-form {
                    
                    bottom: $spacing-side-large;
                    top: unset;
                    opacity: 0;
                    pointer-events: none;


                }

                .concept-header__project-category__expand {
                    height: 20px;
                    width: 20px;
                    margin: 20px 0px;
                    display: inherit;

                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url('./assets/icon-back.svg');

                    
                    position: absolute;
                    top: 0;
                    right: 5vw;
                    transform: rotate(-90deg);

                    transition: $transition-time;
                }

                
                &.open {
                    min-height: calc(100vh - 70px);
                    height: unset;

                    .concept-header__project-category__expand {
                        transform: rotate(90deg);
                    }

                    .concept-header__project-category__search-form {
                    
                        opacity: 1;
                        pointer-events: all;
                        border-bottom: 2px solid #888;

                        input[type=search] {
                            max-width: 100vw;
                            width: calc(90vw - 5vw);
                        }

                    }

                    .concept-header__all-tags {
                        position: relative;

                        padding: 0;

                        a {
                            width: 100%;
                            margin: 0 5vw;
                            text-align: center;
                        }
                    }

                    .concept-header__all-tags__back {
                        display: none;
                    }

                }
            }


            &__project-category__search-form {
                right: $spacing-side-small;

            }

            &__all-tags {
                
                background: $white;
                width: 100vw !important;
                max-width: unset;
                padding: 40px 0;
                padding-top: 0;

                &__back {
                    display: block;
                    width: 60%;
                    background-position: left;
                }
            }
        }

        .social-media__container--small {
            display: flex;
        }

    }

    
    @media screen and (min-width: $breakpoint-large){
        .concept-header__project-category__search-form {
            right: calc((100vw - #{$breakpoint-large}) / 2 + 5.4vw);
        }

    }

}

.social-media__container {

    display: flex;
    justify-content: space-between;
    min-width: 120px;
    width: 5.5vw;
    // position: absolute;
    // right: calc(#{$spacing-side-large} * 2 + 20px + 50px);
    right: calc(#{$spacing-side-large} + 50px);
    z-index: 102;
    align-content: center;
    align-items: center;

    @include center-vertically;
    
    .concept-header__main__social-media{

        width: 20px;
        height: 20px;
        min-height: 20px;
        min-width: 20px;
        width: 1vw;
        height: 1vw;
        background-position: center;
        background-size: contain;
        transition: $transition-time;
        background-repeat: no-repeat;

        // @include hover;

        &--vimeo {
            background-image: url('./assets/vimeo.svg');
        
        &:hover {
            background-image: url('./assets/vimeo--red.svg');
        }

        }
        &--facebook {
            background-image: url('./assets/facebook.svg');
        
            &:hover {
                background-image: url('./assets/facebook--red.svg');
            }
        }
        &--mail {
            background-image: url('./assets/mail.svg');
        
            &:hover {
                background-image: url('./assets/mail--red.svg');
            }
        }
        &--instagram {
            background-image: url('./assets/instagram.svg');
        
            &:hover {
                background-image: url('./assets/instagram--red.svg');
            }
        }
    }

    &--small {
        position: relative;
        right: unset;
        top: 20px;

        display: none;
    }
}

.mobile-toggle {

    span {
        background: white;
    }
    
    div {
        margin-top: 6px;
        background: $red;
        border-radius: 50%;
        opacity: 0;
    }

    @media screen and (max-width: $breakpoint-medium) {

        
        div {
            background: $red;
            border-radius: 50%;
        }
    }

    @media screen and (max-width: $breakpoint-medium) {
        
        div {
            background: $red;
            border-radius: 50%;
        }
    }

    &:hover {
        // display: none;
        .burger-menu {
            transform: scale(1.05);
        }
    }
}

#mobile-menu {   
    z-index: 101;
    top: -49px !important;

    
    @media screen and (max-height: 500px) {

        .menu-container {
            width: 100% !important;

        }


        #menu-main {
            padding-top: 120px;
        }

        .menu-holder > ul > li {
            width: 50%;

            a {
                font-size: 1.75vw;
                margin-bottom: 4vh;
            }

            &.address-item {
                float: right;
                position: absolute;
                top: 129px;
                left: 50%;
                width: 40%;
                margin-top: 0;
    
                ul li a {
                    font-size: 1.4rem;
                }
            }
        }

        
    }
}

.menu-holder {
    pointer-events: all;
    right: calc(#{$spacing-side-large} + 0.6vw);
    top: -27px;

    > .wpml-ls-statics-shortcode_actions {
        display: none;
    }
}



.header {
    pointer-events: none;
    padding: 0 !important;
}

.menu-container {
    background: $anthrazit;

    .panel-close {
        display: none;
    }

    .mobile-menu {

        padding: 20vh 100px 0 100px;
        height: 100vh;

        ul {
            margin-right: calc(-5vw - 0.6vw);
        }

        li>a {
            color: white;
            font-size: 2.4rem;
            padding-bottom: 0;
            margin-bottom: 30px;
            font-weight: 400;
    
            &:hover {
                box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75);        
            }
        }
    
        >li.current-menu-item>a {
            color: white;
            box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75);        
            font-weight: $bold;
        }

        .address-item {

            margin-top: 30px;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            
            li {
                color: white;
                text-decoration: none;
                margin-bottom: 10px;

                a {
                    text-transform: none;
                    font-size: 1.4rem;
                    font-weight: 400;
                }

                a:hover {
                    box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75);        
                }
            }
        }
        

       
    }

    .menu-language-select {
        
        width: 100%;
        display: flex;
        justify-content: flex-start;
        // transform: translateY(240px);
        // transition-delay: 3s;
        // display: none; //REMEMBER: remove

        a:hover {
            box-shadow: none !important;
        
            span {
                box-shadow: inset 0px -7px 0px 0px #e31b23;
            }
    
        }
    }

    .wpml-ls-menu-item {

        float: left;
        margin-right: 20px;
        margin-bottom: 20px;

        &#menu-item-wpml-ls-3-en {
            margin-right: 0;
        }

        span {
            font-size: 1rem !important;

        }

        i {
            height: 10px;
            width: 10px;
            font-size: 19px;
        }
    }

    .language-select {
        display: none;
    }

    // .language-select {
    //     width: 100%;
    //     position: absolute;
    //     bottom: 70px;

    //     .wpml-ls-statics-shortcode_actions {
    //         width: 100%;
    //         position: relative;
    //     }

    //     ul {

    //         @include center-horizontally;

    //         li {
                
    //             float: right;

    //             a {
    //                 font-size: 1.5vw;
    //                 color: white;

    //                 &:hover {
    //                     span {
    //                         transition: $transition-time;
    //                         box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75)
    //                     };
    //                 }
    //             }
    //         }
            
    //     }
    // }

    @media screen and (max-width: $breakpoint-medium) {

        .mobile-menu {
            padding: 20vh 100px 0 100px;

            li {
                a {
                }
            }
        }

        


    }

    @media screen and (max-width: $breakpoint-small) {

        width: 100% !important;

        .mobile-menu {
            padding: 23vh 70px 0 70px;

            
            .menu-language-select {
                justify-content: center;
            }

            li {
                a {
                    font-size: 2rem;
                    margin-bottom: 10px;
                }

                &.address-item {
                    a {
                        font-size: 1rem;

                        &:hover {
                            box-shadow: inset 0px -3px 0px 0px rgba(227,27,35,75);            
                        }
                    }
                }
            }
        }

        
        .language-select {
            bottom: 20px;
        }
    }

    
}

.icon-holder {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -49px;
    opacity: 0;
    transition: $transition-time;

    > a {
        
        height: 40px;
        width: 41px;
        margin-left: 0;
        transform: translateX(6px);
    }

}

.tag {
    font-size: 1rem;
    font-weight: $bold;
    background: $gray;
    padding: 8px 14px;
    margin-left: 0;
    margin-right: 3px;
    margin-bottom: 3px;
    text-transform: uppercase;
    cursor: pointer;
    transition: $transition-time;
    color: $anthrazit;

    &--active {
        background: $red;
        color: white;
    }
    
    &.hover:hover {
        transform: scale(1.05);
        background: $red;
        color: white;
    }
}


.concept-breadcrumbs {

    margin-bottom: 2vh;

    * {
        margin-right: 2px;
    }


    a, > .breadcrumb {

        font-size: 1rem;
        font-weight: $bold;
        color: $red;
        text-transform: uppercase;
        // margin: 0 3px;

    }
    
    .breadcrumb > a, .breadcrumb > span {
        margin-left: 0;
        font-size: 1rem;
    }

    span {
        font-size: 1rem;
    }
}

.footer-spacer {
    height: 30px;
    background: #404040;
    background: $anthrazit;
    position: absolute;
    left: 0;
    width: 100vw;
}

.footer {

    margin: 0;
    width: 100%;
    max-width: unset;

    a {
        color: $white;
        
        &:hover {
            p {
                box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75);        
            }        }
    }

    &__call-to-action {

        // background-color: $red;
        color: white;
        text-align: center;
        padding: 30px 24%;
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('./assets/background_mountain.jpg');

        
        p, b {
            // font-size: 1.5vw;
            font-weight: $light;
            margin-bottom: 0;
            box-shadow: none !important;

    
            // @media screen and (max-width: $breakpoint-small) {
            //     font-size: 1rem;
            // }
            @media screen and (max-width: $breakpoint-medium) {
                font-size: 1rem;
            }
            @media screen and (max-width: $breakpoint-medium-large) {
                font-size: 1.2rem;
            }
            @media screen and (min-width: $breakpoint-medium-large) {
                font-size: 1.4rem;
            }
        }

        b {
            // font-size: 1.5vw;
            font-weight: $bold;
        }

    }

    &__info {

        background: $anthrazit;
        color: white;
        text-align: center;
        padding: 40px 0 !important;

        > div {
            position: relative;
        }

        a {
            position: relative;
        }

        // columns {
        //     padding: 0;
        // }

        h4 {
            font-size: 1.5vw;
            color: white;
            margin-bottom: 10px;
        }

        p {
            // font-size: 1.4rem;
            margin-bottom: 0;
            margin: 0 auto;
            display: inline;
            transition: $transition-time;
            // transform: translateX(15px);
            // padding-left: 30px;

            // @media screen and (max-width: $breakpoint-small) {
            //     font-size: 1rem;
            // }

            @media screen and (max-width: $breakpoint-medium) {
                font-size: 1rem;
            }
            @media screen and (max-width: $breakpoint-medium-large) {
                font-size: 1.2rem;
            }
            @media screen and (min-width: $breakpoint-medium-large) {
                font-size: 1.4rem;
            }
        }
    }

    &__contact-form {
        
        background: black !important;
        color: white;
        text-align: center;
        padding: 50px 0 0 0;

        h4 {
            color: white;
            margin-top: 30px;
        }

        label {
            color: white;
        }

        p {
            padding: 0 $spacing-side-large 10px 0;

            &:first-of-type {
                padding-right: 0;
                font-weight: 500;
            }
        }


    }

    &__copyright {
        color: white;
        background: $anthrazit;
        height: 30px;
        font-size: 0.6rem;
        position: relative;

        p {
            position: absolute;
            left: $spacing-side-large;
            top: 7px;
            font-size: 0.6rem !important;
            font-weight: $light;
            letter-spacing: 0.6px;
            margin-bottom: 0;
        }
     
        
        &__links {
            
            position: absolute;
            right: $spacing-side-large;
            top: 7px;

   
            a {
                font-size: 0.6rem;
                color: white;
                font-weight: $light;
                letter-spacing: 0.6px;
                margin-left: 5px;
                transition: $transition-time;

                &:hover {
                    color: white;
                    box-shadow: none;
                    text-decoration: underline;
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-medium) {

        .footer__call-to-action {
            // padding: 35px $spacing-side-large;
            padding: 30px 40px 30px 20px;
        }

        .footer__info > .columns {        
            padding-right: 20px;
        }

        .footer__contact-form, .footer__contact-form > p {
            padding-right: 20px;
        }
    }
    
    @media screen and (max-width: $breakpoint-small) {

        .footer__call-to-action {
            padding: 30px $spacing-side-small;

            p, b {
                font-size: 1rem;
            }
        }

        .footer__info {
            flex-wrap: wrap;
            // padding: 40px 5vw 40px 7vw !important;

            > div {
                width: 100%;
                max-width: unset;
                margin: 20px 0;
                
                p {
                    padding-left: 10px;
                }

                div {
                    position: relative;
                    left: unset;
                    top: unset;
                }
            }
            
        }

        .footer__copyright {
            text-align: center;
            height: 67px;

            > * {
                @include center-horizontally;
                width: 100%;
            }

            p {
                display: block;
                top: 36px;
            }

            div {
                top: 15px;
            }
        }

        &__contact-form {
            // padding-top: 0;
            p  {
                padding: $spacing-side-large;
            }
        }
    }

    @media screen and (min-width: $breakpoint-medium-large ) {
        h4 {
            font-size: 1.6rem;
        }
        
        .footer__call-to-action {
            
            
            p, b, i, em, a {
                // font-size: 2rem !important;
            }

        }

        .footer__info {
            p {
                font-size: 1.5vw;
            }
            padding: 40px calc((100vw - 1920px) / 2 - 10px + 5.4vw) !important;
        }

    }

        
    @media screen and (min-width: $breakpoint-large ){
        
        .wpcf7 {
            max-width: calc(#{$breakpoint-large} - 5vw * 2);
            margin: 0 auto !important;

            form {
                padding-left: 0;
                padding-right: 0;
            }
        }

    }
}

//
// Contact Form 
//

.wpcf7 {

    width: 100%;

    form {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0px auto 0px auto;
        padding: 0 $spacing-side-large $spacing-side-large $spacing-side-large;
        position: relative;
        // max-width: 800px;
        // width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    p {
        width: calc(100% / 3);
        // flex-basis: 33%;
        // flex-shrink: 1;
        // flex-grow: 1;
        padding: 0 2vw;
        margin-bottom: 5px;

        input {
            width: 100%;
            // margin-bottom: 5vw;
        }

        &:nth-of-type(1) {
            margin-left: 0;
            padding-left: 0;
        }

        &:nth-of-type(2) {
            padding-right: 0;
        }
        
        &:nth-of-type(3) {
            margin-right: 0;
            padding-right: 0;
        }

        &:nth-of-type(4) {
            // flex-grow: 2;
            width: calc(100% / 3 * 2);
            margin-left: 0;
            padding-left: 0;
            padding-right: 0;          
            display: flex;
            align-items: flex-end;

            textarea {
                margin-bottom: 14px
            }

        }

        &:last-of-type {
            opacity: 0;
        }
    }

    &-response-output {

        font-size: 1.4rem;
        padding-bottom: 20px;
    }

    label {
        text-align: left;
        padding: 0 15px;
    }
    
    input, textarea {
        background: none;
        border: none;
        border-bottom: 1px solid white;
        border-radius: 0;
        transition: $transition-time;
        color: white;
        background: $anthrazit;

        &:hover {
            border-bottom: 1px solid $red;
        }
    }

    input::placeholder, textarea::placeholder { color: white; font-weight:300 ; }

    textarea {
        width: 100%;
        min-height: 0;
        height: 143px;
    }

    &-form-control {

    }

    .wpcf7-response-output {
        text-align: center;
        width: 100%;
    }

    .send-container {

        opacity: 0;
        transition: $transition-time;
        width: calc(100% / 3);
        padding-left: 2vw;
        padding-bottom: 20px;

        .send-button {
            width: 100%;
            padding: 0;
        }


        input[type=submit] {
            border-bottom: none;
            background: none;
            border: 1px solid white;
            color: $white;
            
            &:hover {
                border-color: $red;
            }
        }
    
        .wpcf7-recaptcha div {
            margin: 0 auto;
            margin-bottom: 6px;
            width: 0 !important;
    
        }
    
        .wpcf7-response-output {
            display: block;
            width: 100vw;
        }

        .wpcf7-form-control-wrap > div {
            min-height: 90px;
            position: relative;
        }

        .wpcf7-form-control-wrap iframe {
            // transform: scale(0.7);
            @include center-horizontally;
            
            @media screen and (max-width: 1100px) {    
                transform: translateX(-50%) scale(0.7);
            }

            @media screen and (max-width: 650px) {    
                transform: translateX(-50%) scale(0.5);
            }

            @media screen and (max-width: $breakpoint-small) {    
                transform: translateX(-50%) scale(.95);
            }
        }
    }


    

    @media screen and (max-width: $breakpoint-small) {
        

        form {
            justify-content: center;
        }

        p {
            width: 75%;

            &:first-of-type {
                width: 75%;

            }
        }

        p:nth-of-type(4) {
            margin-top: 80px;
            width: calc(100% / 3 * 2);
        }

        textarea {
            // width: 75%;
        }
    }

    @media screen and (max-width: $breakpoint-small) {
        
        justify-content: center;

        form {
            padding-top: 0 !important;
        }

        p {
            width: 100%;
            padding: 0;

            &:first-of-type, &:last-of-type {
                width: 100%;
            }

            &:nth-of-type(4) {
                width: 100%; 
                margin-top: 0;

                textarea {
                    width: 100%;
                }
            }
        }

        .send-container {
            width: 100%;
            padding: 0;
        }

        .wpcf7-form-control-wrap iframe {
            transform: translateX(-50%) scale(0.7);
        }

        .wpcf7-form-control > div {
            width: 100% !important;
        }
    }

    // @media screen and (max-width: 1200px)  and (min-width: 840px) {

    //     .wpcf7-form-control-wrap iframe {
    //         transform: scale(0.7);
    //     }
    // }
}

//
// Lightbox
//

.lg-backdrop {
    background-color: rgba(0,0,0,0.8) !important;
}

#wpadminbar {
    position: fixed !important;
}

.fbx-inner {
    width: 90vw !important;
    height: calc(90vw / 1.7777777) !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    max-height: 100% !important;
    max-width: 100% !important;
    max-width: calc(100vh / 0.5625) !important;

    @include center;

    iframe {
        width: 90vw !important;
        height: calc(90vw / 1.7777777) !important;
        max-height: 100vh !important;
        max-width: calc(100vh / 0.5625) !important;
    }

    @media screen and (max-width: $breakpoint-medium) {
        
        width: 100vw !important;
        height: calc(100vw / 1.7777777) !important;
        
        iframe {
            width: 100vw !important;
            height: calc(100vw / 1.7777777) !important;
        }
    }
}

.fbx-stage {
    
    left: -0.1px !important;
    width: 100.2% !important;
}

.fbx-item-current {
    overflow: hidden !important;
}

.fbx-caption {
    position: absolute;
    top: -1px;
    bottom: unset;
    text-align: left;
    transition: none;
    transform: none !important;
    max-height: 55px;
    visibility: visible !important; 
    
    .fbx-close-caption {
        display: none;
    }
}

.fbx-count {
    position: relative;
    margin-left: 20px;
    z-index: 100005;
    bottom: -20px !important;
    transition: opacity $transition-time;
    opacity: 0;
    top: 15px;
    font-size: 0.8rem;
}

.fbx-close {
    // top: -35px !important;
    right: -40px !important;
    top: 5px !important;
    // right: 5px !important;
}

.lg-backdrop, .lg-outer, .fbx-fullscreen-toggle, .fbx-credit, .pagination-space, .fbx-play {
    display: none !important;
}

.fbx-next, .fbx-prev {

    position: fixed;
    
    &:hover {
        .fbx-next::before, .fbx-prev::before {
            color: $red !important;
        }
    }

    color: green;

}

.fbx-modal {
    border-width: 0 !important;
}


@media screen and (max-width: $breakpoint-medium) {

    .fbx-inner {
        width: 100vw !important;
        max-height: 100vh !important;
    }
    
}


@media screen and (max-width: $breakpoint-medium), screen and (max-height: $breakpoint-small) {

    .fbx-caption {
        max-height: 50px;
    }
    
    .fbx-caption-desc {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    
    .fbx-prev, .fbx-next {
        width: 20px !important;
        top: 50% !important;
        transform: translateY(-50%);
        left: unset !important;
        right: unset !important;
    }

    .fbx-prev {
        
        left: 20px !important;
    }

    .fbx-next {
        
        right: 20px !important;
    }

    .fbx-close {
        
        left: unset !important;
        width: 20px !important;
        right: 20px !important;
        top: 5px !important;
        right: 5px !important;
    }
    
}


@media screen and (min-width: $breakpoint-medium) {
    .fbx-prev, .fbx-next {
        // top: 65% !important;
    }
}

.thb-cookie-bar {
    .thb-cookie-text a {
        font-weight: 400;
        font-size: 13px;

        &:hover {
            box-shadow: inset 0px -4px 0px 0px rgba(227,27,35,75);    
        }
    }

    .button.white {
        border: 1px solid white;
        border-radius: 0;  
        transition: $transition-time; 
        
        &:hover {
            border-color: $red;
            background: none;
            color: white;
        }
    }
}

body.logged-in {
    @media screen and (max-width: 375px) {
        .concept-header .concept-header__project-category__container.open {
            min-height: calc(100vh - 70px - 45px);
        }

    }
}


//
// Breakpoints
//

// @media screen and (min-width: $breakpoint-medium-large) {
    
//     p, p span {
//         font-size: 1.5vw;
//     }
    
//     h1 {
//         font-size: 4.5rem;
//     }
// }

@media screen and (max-height: $breakpoint-small) {



}

//
// Matthias Changes
//



        
/* Tiles - 181106/mt */
.project-wrapper {
    flex-basis: calc(100% / 3);
    min-width: 33%;
    max-width: 34%;
    width: calc(100% / 3);

    @media screen and (max-width: $breakpoint-medium) {
        
        flex-basis: calc(100% / 2);
        width: calc(100% / 2);
        min-width: 50%;
        max-width: 50%;
    }

    @media screen and (max-width: $breakpoint-small) {
        
        flex-basis: calc(100%);
        width: calc(100%);
        min-width: 190%;
        max-width: 10%;
    }
}
.project-wrapper .projects__project {
    flex-basis: 100% !important;
    min-width: 100% !important;
    max-width: unset !important;
}

/* Contact icons - 181107/mt */

.footer__info .icons {
        width: 20px;
        height: 20px;
        min-height: 20px;
        min-width: 20px;
        width: 1.1vw;
        height: 1vw;
        background-position: center;
        background-size: contain;
        transition: 0.3s;
        background-repeat: no-repeat; 
        display: inline-block;
        transform: translateY(20%);
        margin-right: 8px;
        left: -30px;
        top: -4px;
}
.footer__info .icon-phone {
  background-image: url("./assets/phone.svg"); }
.footer__info .icon-address {
  background-image: url("./assets/map-pin.svg"); }
.footer__info .icon-mail {
  background-image: url("./assets/email.svg"); }

.pace {
    top: 0 !important;
    height: 100vh;
    margin-top: 0;
}