* {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: white;
}

h1 {

}

p {
    font-size: 1rem;
}

a {
    color: $red;

    &:hover {
        color: red;
    }
}

img {
    max-width: unset;
}

.row {
    max-width: $breakpoint-large;
}

div[role=main] {
    margin-top: 0 !important;
}

.project__thumbnail, .team-member {

    overflow: hidden;
    position: relative;
    min-height: $teaser-height;

    img {
        width: 100%;
        transition: $transition-time;   
        min-height: 100%;
        min-width: 100%;

        @include center-vertically;
    }

    &:hover {

        img {
            transform: translateY(-50%) scale(1.1);
        }
    }

    &.project__insight, &.team-member__insight {

        div {
            @include center;
            width: 80%;

            h3 {
                transition: $transition-time;
                display: inline;
            }
        }

        &:hover {

            h3 {
                box-shadow: inset 0px -12px 0px 0px rgba(227,27,35,75);
            }
        } 
    }
}

.project-hover-info, .team-member-hover-info {

    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
    transition: $transition-time;
    padding: 50px;

    h3 {
        font-size: 1rem;
        margin-bottom: 5px;
        box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75);
        display: inline-block;
    }

    p {
        font-size: 0.8rem;
    }

    &:hover {
        opacity: 1;

    }

    * {
        color: white;
    }
}

.ytp-title, .ytp-button, .ytp-watermark, .yt-uix-sessionlink {
    opacity: 0 !important;
    display: none !important;
    visibility: hidden;
}

.rev_slider_wrapper {

    .rs-fullvideo-cover {
        pointer-events: none;
    }

}

.quote__container, .press__container {

    display: flex;
    padding: 0;
    min-height: calc(50vh - 200px);
    flex-wrap: wrap;

    .quote, .press {

        background: $anthrazit;
        color: white;
        padding: 50px 40px;
        flex-basis: 33.3%;
        display: flex;
        align-content: center;
        flex-wrap: wrap;

        h4 {
            color: white;
            font-size: 1.2rem;
            margin-bottom: 5px;
            transition: $transition-time;
        }

        p {
            margin-bottom: 0;
            flex-basis: 100%;
        }

        &__logo { 
            width: 100%;
            margin-bottom: 20px;
            height: 80px;
            position: relative; 

            img {
                @include center;
            }
        }

        a:hover {
            // box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75);


            h4 {
                box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75);
            }
        }

        &:nth-of-type(even) {

            background: white;
            color: $anthrazit;

            h4 {
                color: $anthrazit;
            }
        }

        &.press:nth-of-type(even) {

            background: black;
            color: white;

            h4 {
                color: white;
            }
        }
    }
}


.concept-header {

    width: 100vw;
    padding: 0;
    display: block;
    position: fixed;
    z-index: 100;

    &__main {   

        height: $menu-height;
    	width: 100%;
        background: $anthrazit;
        position: relative;

        &__logo {

            width: 200px;
            height: 40px;
            cursor: pointer;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('./assets/logo_white-red.svg');

            @include center-vertically;

            left: $spacing-side;

        }

        &__social-media__container {

            display: flex;
            justify-content: space-between;
            width: 110px;
            position: absolute;
            right: 150px;
            z-index: 102;

            @include center-vertically;
            
            .concept-header__main__social-media{

                width: 20px;
                height: 20px;
                background-position: center;
                background-size: contain;
                transition: $transition-time;

                // @include hover;

                &--vimeo {
                    background-image: url('./assets/vimeo.svg');
                
                &:hover {
                    background-image: url('./assets/vimeo--red.svg');
                }

                }
                &--facebook {
                    background-image: url('./assets/facebook.svg');
                
                    &:hover {
                        background-image: url('./assets/facebook--red.svg');
                    }
                }
                &--mail {
                    background-image: url('./assets/mail.svg');
                
                    &:hover {
                        background-image: url('./assets/mail--red.svg');
                    }
                }
                &--instagram {
                    background-image: url('./assets/instagram.svg');
                
                    &:hover {
                        background-image: url('./assets/instagram--red.svg');
                    }
                }
            }
        }
    }


    &__project-category__container {
        
        width: 100%;
        background: $white;
        position: relative;

        ul {

            list-style: none;
            display: flex;
            justify-content: space-around;
            margin-bottom: 0;
            width: calc(100vw - 300px);
            padding-left: $spacing-side-large;

            li {
                text-transform: uppercase;
                margin: $submenu-margin 0;
                font-size: $submenu-font-size;
                
                a {
                    font-size: 1rem;
                    color: black;
                    transition: $transition-time;

                    &.menu-active {
                        font-weight: 600
                    }

                    
                }

                &:hover {
                    a {
                        box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75);
                    }
                }

                
                
                
            }

            
        }

        .concept-header__project-category__list--search {

            justify-content: left;

            .tag {
                margin-left: 5px;
                cursor: default;
                padding: 7px 10px;
                margin: 10px 0;
            }
        }

        .concept-header__project-category__back {
            
            height: 20px;
            width: 20px;
            margin: 20px 20px 20px 0px;

            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('./assets/icon-back.svg');

            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .concept-header__project-category__search-form {
                    
        border-bottom: 2px solid #888;
        margin-top: 6px;
        height: 33px;
        position: absolute;
        right: 80px;
        top: 0px;
        


        input {
            border-radius: 0;
            border: none;
            font-weight: $bold;
            text-transform: uppercase;
            background: none;
            // padding: 5px 0;
            margin-bottom: 0;
            padding: 0;
        }

        .concept-header__project-category__search__icon {
            width: 15px;
            height: 15px;
            display: inline-block;
            margin-top: -13px;
            margin-left: 0px;
            vertical-align: -webkit-baseline-middle;

            
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('./assets/icon-search.svg');
            color: rgba(1,1,1,0);
        }
    }

}

.mobile-toggle {

    span {
        background: white;
    }
    
    div {
        margin-top: 6px;
    }
}

#mobile-menu {   
    z-index: 100;
    top: -49px !important;
}

.menu-holder {
    pointer-events: all;
}

.header {
    pointer-events: none;
}

.menu-container {
    background: $anthrazit;

    .panel-close {
        display: none;
    }

    .mobile-menu {

        padding: 20vh 100px;

        li>a {
            color: white;
            font-size: 2rem;
            padding-bottom: 0;
            margin-bottom: 30px;
    
            &:hover {
                box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75);        
            }
        }
    
        >li.current-menu-item>a {
            color: white;
            box-shadow: inset 0px -7px 0px 0px rgba(227,27,35,75);        
        }
    }

    
}

.tag {
    font-size: 0.8rem;
    font-weight: $bold;
    background: $gray;
    padding: 10px 15px;
    margin: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: $transition-time;

    &--active {
        background: $red;
        color: white;
    }
    
    &.hover:hover {
        transform: scale(1.05);
        background: $red;
        color: white;
    }
}


.concept-breadcrumbs {

    margin-bottom: $spacing-bottom;

    a, .breadcrumb {

        font-size: 0.8rem;
        font-weight: $bold;
        color: $red;
        text-transform: uppercase;
    }
}

.footer {

    margin: 0;
    width: 100vw;
    max-width: unset;

    &__call-to-action {

        background-color: $red;
        color: white;
        text-align: center;
        padding: 30px 25%;
        
        p {
            font-size: 1.2rem;
            font-weight: $light;
            margin-bottom: 0;
        }

        b {
            font-size: 1.2rem;
            font-weight: $bold;
        }

    }

    &__info {

        background: $anthrazit;
        color: white;
        text-align: center;
        padding: 40px 0;

        h4 {
            font-size: 1.2rem;
            color: white;
            margin-bottom: 10px;
        }

        p {
            font-size: 0.8rem;
            margin-bottom: 0;
        }
    }

    &__contact-form {
        
        background: black;
        color: white;
        text-align: center;
        padding: 50px 0;

        h4 {
            color: white;
        }

        label {
            color: white;
        }
    }

    &__copyright {
        color: white;
        background: $anthrazit;
        height: 30px;
        font-size: 0.6rem;
        position: relative;

        p {
            position: absolute;
            left: 50px;
            top: 5px;
            font-size: 0.6rem;
            font-weight: $light;
            letter-spacing: 0.6px;
        }
     
        
        &__links {
            
            position: absolute;
            right: 50px;
            top: 7px;

   
            a {
                font-size: 0.6rem;
                color: white;
                font-weight: $light;
                letter-spacing: 0.6px;
                margin-left: 5px;
                transition: $transition-time;

                &:hover {
                    color: $red;
                }
            }
        }
    }
}

//
// Contact Form 
//

.wpcf7 {

    width: 100%;

    form {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px auto;
        // max-width: 800px;
        // width: 100%;
    }

    p {
        // width: 33%;
        flex-basis: 33%;
        flex-shrink: 1;
        flex-grow: 1;

        &:nth-of-type(4) {
            // width: 66%;
            flex-basis: 66%;
            flex-shrink: 2;
            flex-grow: 2;
        }
    }

    &-response-output {

        font-size: 1rem;
    }
    
    input, textarea {
        background: none;
        border: none;
        border-bottom: 1px solid white;
        border-radius: 0;
    }

    textarea {
        width: 100%;
        min-height: 0;
    }

    &-form-control {

    }
}

//
// Lightbox
//

.lg-backdrop {
    background-color: rgba(0,0,0,0.8) !important;
}